:root {
    --gray-bg: #DFE0E1;
    --dark: #414141;
    --blue: #0A5B8A;
}

/* Header Start */
.header {
    background-color: var(--gray-bg);
    border: 1px solid #0B3E58;
}

.menu-list {
    margin-left: 225px;
}

.menu-link,
.megamenu-link {
    color: var(--dark);
    transition: all 0.3s ease-in-out;
}

.megamenu-item:hover {
    transition: all 0.3s ease-in-out;
    background-color: #98DAFF;
}

.megamenu-list {
    width: 150px;
    box-shadow: 0 0 15px #dfe0e1;
    transition: all 0.3s ease-in-out;
    transform: translateY(30px);
    opacity: 0;
    visibility: hidden;
}

.menu-item:hover {
    background-color: #99999969;
}

.menu-item:hover .megamenu-list {
    transition: all 0.3s ease-in-out;
    transform: translateY(10px);
    opacity: 1;
    visibility: visible;
}

.header-title {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.header-hamburger {
    display: none;
}

.header-hamburger-icon {
    width: 30px;
    height: 3px;
    border-radius: 4px;
    position: relative;
    background-color: #818181;
    transition: all 0.3s ease-in-out;
}

.menu-list-open .header-hamburger-icon:first-child {
    transform: rotate(45deg);
    top: 3px;
    margin: 0 !important;
}

.menu-list-open .header-hamburger-icon:nth-child(2) {
    opacity: 0;
    margin: 0 !important;
}

.menu-list-open .header-hamburger-icon:last-child {
    transform: rotate(-45deg);
    margin: 0 !important;
    top: -3px;
}

/* Header End */

/* home Header Top Start */
.homnavtopline {
    background: linear-gradient(180deg, #9FCBE3 0%, #0B3E58 100%);
}

.home-bottom-header {
    background: linear-gradient(180deg, #999 0%, #FFF 31.8%, #FFF 50.2%, #FFF 67.8%, #999 100%);
}

.home-bottom-header-logoitems {
    width: 400px;
}

.home-bottom-header-logo {
    background: radial-gradient(50% 50% at 28.5% 106.1%, #DFE0E1 0%, #DFE0E1 25%, #717171 50%, #717171 100%);
    height: 200px;
}

.home-bottom-header-logo {
    background: radial-gradient(50% 50% at 28.5% 106.1%, #DFE0E1 0%, #DFE0E1 25%, #717171 50%, #717171 100%);
    height: 200px;
    border: 1px solid #fff;
    border-top: 0;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}

.home-bottom-header-logo a {
    width: 230px;
}

.home-bottom-header-container ul li>a:before {
    content: '';
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    width: 1px;
    height: 36px;
    background-color: #707070;
}

.home-bottom-header-container ul li:nth-child(3)>a:before,
.home-bottom-header-container ul li:last-child>a:before {
    background-color: transparent;
}

.main-content.main-content-home {
    height: calc(100vh - 116px);
}

/* home Header Top End */

/* Header middle Start */
.header-m-logo {
    border: 1px solid #000000;
    width: 198px;
    height: 198px;
    max-width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    left: 11px;
    top: -46px;
}

.header-m-content {
    margin: 0 38px 0 214px;
}

.header-duty-title,
.header-duty-time h5,
.header-available h5,
.header-m-contact h5,
.header-activity-btn {
    color: #0B3E58;
    line-height: 100%;
}

.header-duty-time h5 span {
    color: #CB0E20;
    margin: 0 12px 0 6px;
}

.header-m-available {
    border-inline: 1.5px solid #0B3E58;
}

.form-switch .form-check-input,
.form-check-input:checked {
    border-color: rgba(0, 0, 0, 0.2);
}

.form-switch .form-check-input:checked {
    background-color: transparent;
}

.form-switch .form-check-input {
    background-image: none;
}

.switch-btn {
    width: 20px;
    height: 20px;
    background: radial-gradient(circle at 80% 6%, #E6F1E6, #CB0E20);
    border: 2px solid #CB0E20;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
}

.form-switch .form-check-input:checked+.switch-btn {
    left: unset;
    right: 6px;
    background: radial-gradient(circle at 80% 6%, #E6F1E6, #188E4C);
    border-color: #1A9E54;
}

.form-switch .form-check-input:focus {
    box-shadow: none;
}

.header-m-contact h5,
.header-available h5,
.header-duty-title {
    text-shadow: 0px 4px 13px #00000038;
}

.header-m-contact span {
    color: #13753E;
    width: 66px;
    height: 66px;
    border: 1px solid #707070;
    border-radius: 15px;
    font-family: "Segoe Script";
    text-shadow: 0px 0px 16px #00000052;
}

.header-m-contact {
    border-right: 1.5px solid #0B3E58;
}

.header-m-activity {
    border-left: 1px solid #0B3E58;
}

.header-activity-item:hover {
    background-color: #e9e9e9;
}

.header-activity-btn .btn {
    background: linear-gradient(to bottom, #b2f1c1, #34b267);
    border-radius: 22px;
    border: 1px solid #0B3E58;
    padding: 9px 21px;
}

.header-activity-btn {
    margin-left: 26px;
}

/* Header middle End */

/* bottom header start */

.bottom-header-body {
    background: linear-gradient(180deg, #FFF -57.5%, #0B3E58 100%);
}

.btn-white {
    color: #0B3E58;
    line-height: normal;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    background-color: var(--bs-white);
    border-color: #0B3E58 !important;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
    opacity: 1;
    transition: all 0.3s;
}

.btn-white:hover {
    color: #0B3E58;
    background-color: var(--bs-white);
    opacity: 0.8;
    transition: all 0.3s;
}

.bottom-header-top {
    border: 1px solid #707070;
    border-radius: 40px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
    -webkit-border-radius: 40px;
    -moz-border-radius: 40px;
    -ms-border-radius: 40px;
    -o-border-radius: 40px;
}

.bottom-header-bottom {
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
    border-radius: 40px;
}

.btn-header-action {
    border-color: #0B3E58 !important;
}

.btn-header-action.active,
.btn-header-action:hover {
    background-color: #CFE4EF !important;
}

.header-action-duration-title p {
    color: #0B3E58;
    font-size: 12px;
    font-weight: 700;
    line-height: 1;
    max-width: 130px;
    text-wrap: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.header-action-duration-data p,
.header-action-duration-data span {
    color: #0B3E58;
    font-size: 10px;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.5px;
}

.header-action-duration-data span {
    color: #0E7EBE;
}

.header-action-number span {
    font-family: "Segoe Script";
    font-size: 13px;
    font-weight: 700;
}

.header-action-number span:first-child {
    color: #1CB25E;
}

.header-action-number span:last-child {
    color: #E51025;
}

.header-action-notification {
    width: 14px;
    height: 18px;
}

.header-action-notification span {
    right: -10px;
    bottom: -2px;
    top: unset !important;
}

.header-action-icon {
    width: 20px;
    height: 20px;
}

.header-action-alert {
    width: 18px;
    height: 20px;
}

.bottom-header-bottom:before {
    content: '';
    position: absolute;
    right: 0;
    height: 100%;
    width: 30px;
    background-color: rgba(0, 0, 0, 0.32);
    border-radius: 40px;
}

/* bottom header End */

/* main content css start */
.main-content {
    height: calc(100vh - 300px);
}

.map-body {
    width: calc(100% - 23px);
}

/* Search Content Start */
.search-popup {
    bottom: 0;
    left: 450px;
    width: 425px;
    max-width: 100%;
}

.search-popup .accordion-button {
    background: linear-gradient(180deg, #FFF -57.5%, #0B3E58 100%);
}

.search-popup .accordion-button::after {
    display: none;
}

.search-heading {
    width: 60%;
}

.search-popup .accordion-body {
    background: linear-gradient(to bottom, #F5F5F5, #999999);
}

.search-input {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -38%);
}

.search-popup .nav-link {
    color: #0B3E58;
    border-radius: 20px;
    border: 1px solid #0B3E58;
}

.search-popup .nav-link.active,
.search-popup .nav-link:hover {
    color: #fff;
    background-color: #0B3E58;
    border: 1px solid #0B3E58;
}

.search-input input {
    border: 1px solid #0B3E58;
    border-radius: 20px;
}

.search-input input::placeholder {
    color: #999999;
}

.search-popup .accordion-button:focus {
    box-shadow: none;
}

.search-popup .tab-pane {
    border: 1px solid #0B3E58;
    border-radius: 5px;
}

.search-map {
    height: 247px;
}

.search-body-border {
    background: linear-gradient(180deg, #FFF -57.5%, #0B3E58 100%);
    height: 11px;
    border-radius: 3px 3px 0 0;
}

.search-item {
    border-bottom: 1px solid #0B3E58;
}

.search-item:last-child {
    border-bottom: none;
}

.search-body-border span {
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    height: 6px;
    width: 47px;
    border-radius: 10px;
}

.search-item-selected {
    width: 14px;
    height: 14px;
    background: radial-gradient(circle at 80% 6%, #E6F1E6, #188E4C);
    border: 2px solid #1A9E54;
    border-radius: 50%;
    margin-top: -13px;
}

.search-item-btn {
    background: linear-gradient(180deg, #FFF -57.5%, #0B3E58 100%);
    border-radius: 20px;
}

.search-item-list {
    max-height: 170px;
    overflow-y: auto;
}

.search-input-mobile {
    display: none;
}

/* Search Content End */

/* main content css End */

/* footer css start  */
.footer-line {
    background: linear-gradient(180deg, #FFF -57.5%, #0B3E58 100%);
    border-color: #0B3E58 !important;
}

/* footer css End  */

/* Contact Sidebar Start */
.contact-sidebar {
    width: 450px;
    top: 247px;
    left: -100%;
    height: calc(100% - 282px);
    overflow-y: auto;
    transition: all 0.3s ease-in-out;
}

.contact-sidebar-open {
    left: 0;
    transition: all 0.3s ease-in-out;
}

.contact-search input {
    border: 1px solid #0B3E58;
    border-radius: 20px;
    color: #999999;
}

.contact-search-icon {
    top: 50%;
    right: 25px;
    transform: translateY(-50%);
}

.contact-item-box {
    border: 1px solid #0B3E58;
    border-radius: 8px;
    padding: 20px 20px 15px 15px;
    overflow-y: auto;
    height: 217px;
}

.contact-add-icon {
    cursor: pointer;
}

.contact-box-line {
    color: #707070;
    width: 94%;
    bottom: 0;
    left: 22px;
}

.contact-red {
    background: radial-gradient(circle at 80% 6%, #E6F1E6, #CB0E20);
    border-color: #CB0E20;
}

.contact-truck-icon span {
    top: -5px;
    right: -14px;
    color: #13753E;
    font-family: "Segoe Script";
}

.contact-sidebar-close,
.history-sidebar-close {
    right: 8px;
    top: 7px;
    cursor: pointer;
}

.contact-chat {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: radial-gradient(circle at 80% 6%, #7CDBA6, #149F51);
    transition: all 0.3s ease-in-out;
}

.contact-chat:hover {
    opacity: 0.8;
    transition: all 0.3s ease-in-out;
}

.contact-box-item {
    transition: all 0.3s ease-in-out;
    padding: 8px 15px;
    border-radius: 8px;
}

.contact-box-item:hover {
    background-color: #e9e9e9;
    transition: all 0.3s ease-in-out;
}

.contact-other-icon {
    width: 30px;
    height: 30px;
    box-shadow: 0 0 10px #d1d1d1;
    border-radius: 50%;
}

/* Contact Sidebar End */


/* Modal button css start  */
/* 01  */
.dashboard-btn-list {
    border-color: #0B3E58 !important;
    border-radius: 60px;
}

.btn-listgroup {
    color: #0B3E58;
    border-color: #0B3E58 !important;
    background: linear-gradient(180deg, #EEEEEE 50%, #BBBBBB 100%);
    border-radius: 20px;
    box-shadow: 3px 6px 6px rgba(0, 0, 0, 0.64);
    transition: all 0.3s;
}

.btn-listgroup:hover {
    color: #0B3E58;
    background: linear-gradient(180deg, #BBBBBB -57.5%, #EEEEEE 100%);
    transition: all 0.3s;
}

.form-check-input {
    border: 1px solid #adb5bd;
}

/* modal css start */
.createaccound-modal01 .modal-header {
    background: linear-gradient(217deg, #0B3E58 3.27%, #DFE0E1 156.88%);
}

.btn-track {
    bottom: -20px;
}

.btn-modalnext {
    background: linear-gradient(217deg, #2280B7 3.27%, #0B3E58 156.88%);
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.70);
    transition: all 0.3s;
}

.btn-modalback {
    background: linear-gradient(90deg, #FFF 0%, #CCC 100%);
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.70);
    border-color: #0A6294 !important;
    transition: all 0.3s;
}

.btn-modal-footer:hover {
    opacity: 0.8;
    transition: all 0.3s;
}

.form-check-account {
    border: 1px solid #0000008a;
    box-shadow: 2px 3px 11px 0 #00000070;
}

.account-comany-form .form-control {
    color: #0B3E58;
    font-size: 16px;
    font-weight: 400;
    line-height: normal;
    text-align: center;
    border: 1px solid #0B3E58;
    box-shadow: rgba(14, 63, 126, 0.04) 0px 0px 0px 1px, rgba(42, 51, 69, 0.04) 0px 1px 1px -0.5px, rgba(42, 51, 70, 0.04) 0px 3px 3px -1.5px, rgba(42, 51, 70, 0.04) 0px 6px 6px -3px, rgba(14, 63, 126, 0.04) 0px 12px 12px -6px, rgba(14, 63, 126, 0.04) 0px 24px 24px -12px;
}

.account-comany-form .form-control:focus {
    box-shadow: 0 0 0 0.25rem rgba(11, 62, 88, 0.25);
}

.typeaccount-img {
    width: 20px;
    height: 20px;
}

.accountpasswd-show {
    cursor: pointer;
}

.notesmodalbody {
    border-color: #0B3E58 !important;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.70);
    height: 330px;
}

textarea.form-control {
    border: 1px solid #0B3E58;
    text-align: center;
    color: #0B3E58;
    font-size: 16px;
    font-weight: 400;
    line-height: normal;
}

.notesmodal-adddispatch>p {
    color: #2280B7;
}

.account-comany-form.notesmodalbody .form-control {
    min-width: 160px;
    width: auto;
    border-radius: 16px;
    box-shadow: 0 4px 4px 0 #2222224a;
    border-color: #0B3E58 !important;
}

.company-list {
    width: 250px;
    font-family: sans-serif;
}

.company-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0;
    border-bottom: 1px solid #ccc;
    font-weight: bold;
    color: #083e59;
    /* dark blue */
    cursor: pointer;
}

.company-item input[type="checkbox"] {
    width: 20px;
    height: 20px;
    cursor: pointer;
}

.comanylist-note .company-item {
    color: #717171;
    font-size: 25px;
    font-weight: 600;
    line-height: normal;
}

.accountmodal-payment-title {
    color: #717171;
}

.accountmodal-payment-mode li label {
    border: 1px solid #999;
}

.paypal-title {
    color: #2E5281;
}

.paypal-title>span:last-child {
    color: #3B9FD8;
}

.managedriver-circle{
    transform: unset;
    top: unset;
    left: unset;
}

.managedriver-circle-danger{
    background: radial-gradient(circle at 80% 6%, #E6F1E6, #188E4C);
    border-color: #1A9E54;
}

.managedriver-card-body{
    grid-template-columns: 1fr 1fr;
}

.managedriver-btn{
    height: 50px;
}

@media (min-width: 992px) {

    .modal-lg,
    .modal-xl {
        --bs-modal-width: 800px;
    }
}

@media (min-width: 1200px) {
    .modal-xl {
        --bs-modal-width: 1140px;
    }
}

@media (min-width: 576px) {
    .modal-dialog {
        max-width: var(--bs-modal-width);
        margin-right: auto;
        margin-left: auto;
    }

    .modal-sm {
        --bs-modal-width: 300px;
    }
}

/* Modal button css End  */

/* Chat Sidebar Start */
.chat-sidebar {
    top: 247px;
    left: -100%;
    width: 445px;
    height: calc(100vh - 281px);
    transition: all 0.3s ease-in-out;
}

.chat-sidebar-open {
    left: 0;
    transition: all 0.3s ease-in-out;
}

.chat-searchbar {
    background: linear-gradient(180deg, #FFF -57.5%, #0B3E58 100%);
    border: 1px solid #0B3E58;
    box-shadow: 0 5px 10px #999999;
}

.char-searchbar-input {
    max-width: 305px;
}

.chat-body {
    border: 1px solid #707070;
    border-radius: 30px;
}

.chat-contect-body {
    overflow-y: auto;
    height: calc(100dvh - 432px);
    background: linear-gradient(to bottom, #F5F5F5, #999999);
}

.chat-item {
    box-shadow: 0 6px 10px #00000026;
}

.chat-right-icon img {
    width: 15px;
}

.chat-name h5,
.chat-name span {
    max-width: 100px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.chat-name span {
    color: #BBBBBB;
}

.chat-profile span {
    width: 16px;
    height: 16px;
    border-radius: 50px;
    bottom: 0;
    right: 0;
}

/* Chat Sidebar End */
/* fairbanks jobmodal start*/
.fairbanks-jobmodal-title{
    background: linear-gradient(180deg, #FFF -57.5%, #0B3E58 100%);
}
.postjobbulletinbtn-title{
    color: #0A5B8A;
}
/* fairbanks jobmodal End*/

/* History Sidebar Start */
.history-sidebar {
    top: 247px;
    left: -100%;
    width: 360px;
    height: calc(100vh - 281px);
    transition: all 0.3s ease-in-out;
}

.history-sidebar-open {
    left: 0;
    transition: all 0.3s ease-in-out;
}

.history-main-body {
    height: calc(100vh - 345px);
    overflow-y: auto;
}

.history-header {
    background-color: #9FCBE3;
    border: 1px solid #0B3E58;
}

.histort-months {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 19px 30px;
    border: 2px solid #0B3E58;
}

.histort-months span {
    background: linear-gradient(180deg, #EEEEEE -57.5%, #BBBBBB 100%);
    border: none;
    border-radius: 15px;
    color: #0B3E58;
    line-height: 20px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: 1px solid #0B3E58;
    cursor: pointer;
    box-shadow: 4px 5px 10px #6e6e6e;
}

.histort-months span.active {
    background: linear-gradient(180deg, #FFF -43.5%, #0B3E58 100%);
    color: #fff;
}

.history-custom-spinner {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    color: #0e4a5a;
    left: 40px;
    top: 50%;
    transform: translateY(-50%);
}

.arrow {
    cursor: pointer;
    user-select: none;
    left: 50%;
    transform: translateX(-50%);
    background-repeat: no-repeat;
    width: 16px;
    height: 9px;
}

.arrow.up {
    top: -8px;
    background-image: url('../image/history-sidebar/caret-up.svg');
}

.arrow.down {
    bottom: -7px;
    background-image: url('../image/history-sidebar/caret-down.svg');
}

.year {
    outline: none;
    appearance: textfield;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.history-month-content,
.history-details {
    display: none;
}

.history-month-content-open,
.history-details-open {
    display: block;
}

.history-month-header {
    background: linear-gradient(180deg, #FFF -57.5%, #0B3E58 100%);
    border: 1px solid #0B3E58;
    border-bottom: 0;
    box-shadow: -5px 3px 15px #0b3e58c7;
}

.history-month-job span {
    width: 19px;
    height: 19px;
    font-family: "Segoe Script";
}

.history-month-close,
.history-date-close {
    cursor: pointer;
}

.history-month-date p {
    color: #2280B7;
}

.history-month-date h6 {
    position: relative;
    bottom: -6px;
}

.history-month-date h5 {
    width: 23px;
    height: 23px;
    border-radius: 50%;
    background: radial-gradient(circle at 57% 6%, #9FCBE3, #0F6FA1);
}

.history-month-date {
    border-bottom: 1px solid #707070;
    box-shadow: 0 0 10px #70707033;
    cursor: pointer;
}

.history-nav-tabs .nav-item {
    width: 33.33%;
}

.history-nav-tabs .nav-link {
    color: #0B3E58;
    width: 100%;
    border-radius: 0;
}

.history-nav-tabs .nav-link.active,
.history-nav-tabs .nav-link:hover {
    background-color: #DFE0E1;
    color: #2B2B2B;
    box-shadow: 0 5px 10px #c1c1c1;
}

.history-form-item .form-label {
    white-space: nowrap;
}

.history-form-item {
    width: calc(50% - 10px);
    margin-right: 10px;
}

.history-form-item .form-control {
    border: 0.5px solid #707070;
    height: 17px;
    border-radius: 0;
    box-shadow: inset 0 0px 10px #80808047;
}

.form-control:focus {
    box-shadow: none;
}

.history-dropdown .btn {
    border: 0.5px solid #0B3E58;
    border-radius: 5px;
}

/* History Sidebar End */

/* Calendar Sidebar Start */
.calendar-sidebar {
    top: 247px;
    left: -100%;
    width: 420px;
    transition: all 0.3s ease-in-out;
    background-image: url('../image/calendar-sidebar/calendar-bg.svg');
    background-repeat: no-repeat;
    background-position: top;
    height: calc(100dvh - 282px);
    overflow-y: auto;
}

.calendar-sidebar-open {
    left: 0;
    transition: all 0.3s ease-in-out;
}

.calendar-main-header {
    background: linear-gradient(193deg, #0B3E58 10.5%, #DFE0E1 130%);
    border-radius: 0 0 12px 12px;
}

.calendar-sidebar-close {
    top: 20px;
    right: 20px;
    cursor: pointer;
}

.calendar-container {
    background: white;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    width: 371px;
    top: -19px;
    left: 50%;
    transform: translateX(-50%);
}

.calendar-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: linear-gradient(180deg, #FFF -57.5%, #0B3E58 100%);
    box-shadow: 0 0 10px #0B3E58;
}

.calendar-month {
    cursor: pointer;
}

table.calendar-table {
    width: 100%;
    border-collapse: collapse;
    border: 2px solid #0B3E58;
    border-top: 0;
}

.calendar-table th,
.calendar-table thead tr {
    background-color: #EBEBEB;
    color: #000000;
}

.calendar-table td {
    font-size: 14px;
    background-color: #F2F2F2;
    color: #000;
    z-index: 1;
}

.calendar-table th,
.calendar-table td {
    text-align: center;
    padding: 10px;
    position: relative;
}

.calendar-table td.inactive {
    color: #ccc;
}

.calendar-table .event-dot {
    width: 100%;
    height: 100%;
    display: inline-block;
    position: absolute;
    bottom: 6px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #DFE0E1;
    box-shadow: 4px 9px 10px #0000001a;
    z-index: -1;
}

.event-dot.meeting::before,
.event-dot.service::before,
.event-dot.repair::before {
    content: "";
    position: absolute;
    left: 5px;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    z-index: 1;
}

.event-dot.meeting::before {
    background-color: green;
    top: 5px;
}

.event-dot.service::before {
    background-color: #007bff;
    top: 50%;
    transform: translateY(-50%);
}

.event-dot.repair::before {
    background-color: #E51025;
    top: 80%;
    transform: translateY(-80%);
}

.today {
    cursor: pointer;
}

.calendar-table .past {
    color: #bbb;
}

.calendar-events {
    top: 113px;
}

.calendar-events li {
    line-height: normal;
}

.calendar-events span {
    width: 22px;
    height: 22px;
    border-radius: 50%;
    border: 0.5px solid #fff;
    box-shadow: 2px 2px 3px #343a40;
}

.calendar-events .meeting {
    background-color: #11AA54;
}

.calendar-events .service {
    background-color: #2280B7;
}

.calendar-events .repair {
    background-color: #E51025;
}

.meeting-open {
    background-color: #B729FF;
}

.service-open {
    background-color: #999999;
}

.repair-open {
    background-color: #10D0E5;
}

/* Calendar Sidebar End */

/* Invites Sidebar Start */
.invites-sidebar {
    top: 247px;
    left: -100%;
    width: 450px;
    height: calc(100dvh - 283px);
    overflow-y: auto;
    transition: all 0.3s ease-in-out;
}

.invites-sidebar-open {
    left: 0;
    transition: all 0.3s ease-in-out;
}

.invites-pending-header {
    background: linear-gradient(180deg, #FFF -57.5%, #CB0E20 100%);
}

.invites-details h5 {
    color: #0E7EBE;
}

.invites-pending-item hr {
    bottom: 0;
    right: 0;
    height: 2px;
    background-color: #707070;
    width: 91%;
}

.invites-manage-btn {
    border: 1px solid #0B3E58;
}

.invites-item-close {
    top: 50%;
    transform: translateY(-50%);
    right: -42px;
    cursor: pointer;
}
.invites-accepted-header{
    background: linear-gradient(180deg, #FFF -57.5%, #13753E 100%);
}
.invites-clear{
    color: #747070;
}
/* Invites Sidebar End */

/* job creation css start  */
.job-creation-modal {
    width: 500px;
    position: absolute;
    /* position: fixed; */
    left: -600px;
    /* left: 0; */
    top: 0;
    z-index: 1;
    transition: all 0.3s;
}

.job-creation-modal.active{
    left: 0;
    transition: all 0.3s;
}

.job-creation-body {
    height: calc(100dvh - 372px);
    overflow: auto;
}

.job-creation-modal .accordion-item {
    border-left: 0;
    border-right: 0;
    border-bottom: 2px solid #29556b;
    border-radius: 0;
}

.job-creation-modal .modal-header {
    background-color: #C5E0EE;
}

.jobcreation-accordian .accordion-button{font-size: 16px;color: #0B3E58; font-weight: 600;}
.jobcreation-accordian .accordion-button::after{display: none;}
.jobcreation-accordian .accordion-button:focus{box-shadow: none;}

.jobcreation-accordian .accordion-button .jobcreation-number-icon i.fa-caret-down,
.jobcreation-accordian .accordion-button.collapsed .jobcreation-number-icon i.fa-caret-up{
    display: none;
    transition: all 0.3s;
}

.jobcreation-accordian .accordion-button.collapsed .jobcreation-number-icon i.fa-caret-down,
.jobcreation-accordian .accordion-button .jobcreation-number-icon i.fa-caret-up{
    display: block;
    transition: all 0.3s;
}

.jobcreation-number {
    font-family: "Segoe Script";
    font-size: 14px;
    padding: 4px;
    border: 1px solid #0D4059;
    background: linear-gradient(180deg, #FFF -57.5%, #0B3E58 100%);
    color: #fff;
    border-radius: 50%;
    text-shadow: 0px 0px 16px #00000052;
    width: 24px;
    height: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.location-btngroup .btn {
    border-radius: 40px;
    color: white;
    font-weight: bold;
    font-size: 24px;
    line-height: 1.2;
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.5), 0 2px 4px rgba(0, 0, 0, 0.3);
    transition: all 0.2s ease;
    min-width: 150px;
    -webkit-border-radius: 40px;
    -moz-border-radius: 40px;
    -ms-border-radius: 40px;
    -o-border-radius: 40px;
}

.location-btngroup .btn:hover{
    color: #fff;
    opacity: 0.8;
    transition: all 0.2s ease;
}

.btn.btn-job-green {
    background: radial-gradient(50% 50% at 67.2% 35.4%, #DCF1E5 0%, #27A45E 100%);
    border: 2px solid #1B5E20;
}

.btn.btn-job-blue {
    background: linear-gradient(180deg, #8DAEC1 0%, #04345E 100%);
    border: 2px solid #263238;
}

.btn-jobtype{
    background: linear-gradient(217deg, #2280B7 3.27%, #0B3E58 156.88%);
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.70);
    transition: all 0.3s;
    border: 1px solid #0B3E58;
}

.jobcration-jobtype-btngroup-body > button.btn-jobtype{
    background: linear-gradient(180deg, #EEEEEE 50%, #BBBBBB 100%);
}

.btn-jobtype:hover{
    transition: all 0.3s;
    opacity: 0.8;
}

.jobtype-redbtn.btn-jobtype{
    background: radial-gradient(50% 50% at 67.2% 35.4%, #DCF1E5 0%, #CB0E20 100%);
    border-color: #CB0E20;
}

.jobtype-drivercomany .header-action-duration-title p{max-width: 75px;}

.jobtype-formcontrol{min-width: 80px !important; max-width: 120px;}
/* job creation css End  */

/* Invitation Sidebar Start */
.invitation-sidebar {
    top: 10%;
    left: 10%;
    border: 1px solid #0B3E58;
    width: 429px;
    z-index: 1;
    display:none;
}
.form-check-input:focus {
    box-shadow: none;
}
.invitation-times span,
.invitation-company-title,
.invitation-list-two li p,
.invitation-reminder .form-control,
.overview-names,
.o-invite-jeff{
    color: #CB0E20;
}
.invitation-head h6 {
    color: #0A5B8A;
}
.invitation-list li span,.invitation-note span {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    border: 1px solid #000;
    background: linear-gradient(236deg, #FFF -17.5%, #000 100%);
}
.invitation-sails-btn{
    background: linear-gradient(180deg, #EEEEEE -57.5%, #0B3E58 100%);
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
    border: 1.5px solid #0B3E58;
}
.invitation-none-btn,
.invitation-footer-btn button:first-child{
    background: linear-gradient(180deg, #EEEEEE -57.5%, #CB0E20 100%);
    border-radius: 15px;
}
.invitation-reminder .form-check-input {
    border-radius: 0;
    width: 22px;
    height: 22px;
}
.invitation-reminder .form-control {
    width: 25px;
    height: 20px;
}
.invitation-footer-btn button{
    border-radius: 25px !important;
    -webkit-border-radius: 25px !important;
    -moz-border-radius: 25px !important;
    -ms-border-radius: 25px !important;
    -o-border-radius: 25px !important;
    box-shadow: 3px 4px 10px #70707099;
}
.invitation-footer-btn button:last-child{
    background: linear-gradient(180deg, #46CB81 -57.5%, #178045 100%);    
}
.invitation-map .map-body {
    border: 1px solid #707070;
    box-shadow: 3px 4px 10px #70707078;
}
/* Invitation Sidebar End */

/* Overview Modal Start */
.overview-accordion {
    right: 300px;
    left: unset;
}
.overview-accordion .accordion-body{
    background: #fff;
}
.overview-accordion small,.overview-main-title{
    color: #0A5B8A;
}
.overview-accordion .invitation-list li span {
    border: 1px solid #13753E;
    background: linear-gradient(236deg, #EEEEEE -17.5%, #13753E 100%);
}
output {
    color: #0E7EBE;
}
.overview-accordion .accordion-button {
    background: linear-gradient(180deg, #FFF -57.5%, #0B3E58 100%);
    box-shadow: 0px 5px 10px #000000A3;
}
.overview-names {
    border: 2px solid gray;
    box-shadow: inset 0 4px 10px rgb(0 0 0 / 11%);
}

.overview-names.active {
    color: #26804D !important;
}
.overview-names.disable{
    display:none;
}
.roseservice-modal h1 {
    text-shadow: 0px 4px 10px #00000061;
}
.roseservice-modal .modal-dialog {
    width: 400px;
}
.roseservice-modal .modal-content {
 border: 1px solid #0B3E58;
}
.roseservice-modal .modal-dialog {
    width: 375px;
}
/* Overview Modal End */

/* Secondary Location Start */
.s-location {
    top: 242px;
    left: 536px;
    border: 1px solid #0B3E58;
    width: 450px;
    z-index: 1;
    display: none;
}
.s-location h3 {
    text-shadow: 0 2px 10px #00000052;
}
.s-location-open{
    display: block;
}
.s-location-input .form-control {
    border-radius: 20px;
    box-shadow: inset 0 0 10px #bbbbbbc9;
    color: gray;
    border: 1px solid #919191;
}
.invitation-sidebar-close {
    top: 14px;
    right: 20px;
    cursor: pointer;
}
.s-location-input .form-control::placeholder{
    color: #b3b3b3;
}
.s-location-name .form-control {
    max-width: 200px;
}
.s-location-address {
    max-width: 215px;
}
.s-location-pin .form-control{
    height: 90px;
}
.s-location-pin i {
    top: 36px;
    color: #a3a3a3;
}
.s-location-pin i:first-of-type {
    left: 15px;
}
.s-location-pin i:last-of-type {
    right: 15px;
}
.s-location-btn {
    background: linear-gradient(180deg, #EEEEEE -57.5%, #0B3E58 100%);
    border: 1.5px solid #0B3E58;
    border-radius: 20px;
}
/* Secondary Location End */

/* Overview invite Modal Start */
.o-invite-modal .modal-content {
    border-radius: 0;
}
.o-invite-modal .modal-body {
    padding: 15px 30px 30px;
}
.o-invite-btn {
    background-color: #70A2BC;
    box-shadow: 0 3px 10px #0000008c;
}

/* Overview invite Modal End */

/* Drivers Available Modal Start */
.d-available-modal .modal-dialog {
    width: 450px;
}
.d-available-immeditely {
    background: linear-gradient(180deg, #EEEEEE -57.5%, #CB0E20 100%);
    border-radius: 15px;
}
.d-available-inputs {
    max-width: 200px;
    margin-inline: auto;
}
.d-available-inputs {
    max-width: 200px;
}
.d-available-inputs .form-check {
    margin-right: -34px;
}
.d-available-inputs .form-check {
    color: #b1b1b1;
}
.d-available-btn {
    background: linear-gradient(to bottom, #56b06c, #518d69);
    border-radius: 20px;
}
.d-available-logo {
    left: 10px;
    top: 17px;
    border-radius: 50%;
    width: 110px;
    height: 110px;
    box-shadow: 3px 5px 10px #c3c3c3;
}
.d-available-logo img{
    width:83%;
    height:100%;
}
/* Drivers Available Modal End */

/* Trucking Modal Start */
.trucking-modal .modal-dialog {
    max-width: 540px;
}
.trucking-modal-contact a {
    border-radius: 5px;
    padding: 3px 8px;
    text-decoration: none;
}
.trucking-modal-driver span {
    font-family: "Segoe Script";
    color: #13753E;
}
.trucking-modal-list {
    border: 3px solid #0b3e58;
    border-radius: 6px;
}
.trucking-modal-item h6 span {
    width: 18px;
    height: 18px;
}
.trucking-modal-item {
    padding: 17px;
    box-shadow: inset 0 0 10px #80808091;
    transition: all 0.3s;
}
.trucking-modal-item:hover {
    background-color: #f0f0f0;
    transition: all 0.3s;
}
.trucking-modal-item h6 {
    margin-top: -7px;
}
/* Trucking Modal End */

/* Ordered Modal Start */
.order-onduty .switch-btn {
    background: radial-gradient(circle at 80% 6%, #E6F1E6, #293b44);
    border: none;
}
/* Ordered Modal End */

.ctbpopup-body {
    position: absolute;
    top: 0;
    right: 0;
    width: 500px;
}

.ctbpopup-body{
    max-width: 420px;
    width: 100%;
    height: 100%;
    max-height: 500px;
}

.ctbpopup-body ul.nav{
box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.32);
}

.ctbpopup-body .accordion-item{
    background: linear-gradient(180deg, #0B3E58 6.1%, #FFF 57.09%, #0B3E58 60%, #0B3E58 100%);
}

.ctbpop-accordian-body{
    border-color: #0B3E58 !important;
}

.ctbpopup-body .nav-item .nav-link{
border-color: #0B3E58 !important;
color: #0B3E58;
line-height: normal;
border-radius: 40px;
transition: all 0.3s;
}

.ctbpopup-body .nav-item .nav-link.active,
.ctbpopup-body .nav-item .nav-link:hover{
border-color: transparent !important;
color: #fff;
background-color: rgb(11, 62, 88);
transition: all 0.3s;
}

.ctbpopup-body .nav-item .nav-link:hover{
background-color: rgb(11 62 88 / 80%);
}

.ctbpopup-statislist-title{
width: 120px;
text-wrap: nowrap; 
text-overflow: ellipsis;
overflow: hidden;
}

.popnotedata{
max-height: 150px;
border-color: #707070 !important;
}

.popnotedata::-webkit-scrollbar{
width: 0;
height: 0;
}

.ctbpopup-statislist{
width: calc(100% - 36px);
}

.ctbpopup-statis-img01 {
width: 30px;
height: 30px;
box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.32);
}

.ctbpopup-statis-img02 {
width: 16px;
height: 16px;
}

.ctblist-ul {
    height: calc(100vh - 426px);
    overflow-y: auto;
}

/* maddie modal css start  */
.maddie-custom-window {
    width: 450px;
    border: 2px solid #333;
    border-radius: 0 0 10px;
    overflow: hidden;
    background: white;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    -webkit-border-radius: 0 0 10px;
    -moz-border-radius: 0 0 10px;
    -ms-border-radius: 0 0 10px;
    -o-border-radius: 0 0 10px;
}

.maddie-header {
    padding: 0.75rem 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.maddie-tab-buttons {
    background: linear-gradient(180deg, #FFF -57.5%, #0B3E58 100%);
    border: 2px solid #0B3E58;
    border-inline: none;
}

.maddie-tab-buttons .nav-link {
    border-radius: 20px;
    margin-right: 10px;
    border: 2px solid #0B3E58 !important;
    box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.64);
    background: #BBBBBB !important;
    background: linear-gradient(180deg, #EEEEEE -57.5%, #BBBBBB 100%) !important;
    padding: 5px 16px;
    line-height: 1;
    opacity: 0.8;
}

.maddie-tab-buttons .nav-link.active{
    opacity: 1;
}

.maddie-bottom-bar {
    background: #cfd8dc;
    padding: 0.5rem 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: bold;
}

.maddie-tab-content-area {
    height: 300px;
    background: #fff;
    overflow-y: auto;
    padding: 1rem;
}

.maddie-btn-icon {
    background: white;
    border: none;
    border-radius: 50%;
    width: 32px;
    height: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.maddie-btn-close {
    border: none;
    border-radius: 50%;
    width: 32px;
    height: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.maddie-btn-icon:hover {
    background: #f8f9fa;
}

.maddie-tab-title {
    color: white;
    font-size: 1.25rem;
}

.maddie-activity-card {
    border: 2px solid #0a3c53;
    border-radius: 1rem;
    padding: 1.5rem 1rem;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #fff;
}

.maddie-card-left {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.maddie-user-img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 0 14px 0 #00000070;
    padding: 10px;
}

.maddie-user-img i {
    font-size: 24px;
}

.maddie-user-info h5 {
    margin: 0;
    font-weight: bold;
    color: #004466;
}

.maddie-user-info small {
    color: #333;
}

.maddie-card-right {
    text-align: end;
    font-size: 0.9rem;
}

.maddie-card-right .maddie-time-ago {
    color: red;
    font-weight: bold;
    font-size: 0.85rem;
    margin-bottom: 0.25rem;
}

.maddie-time-label {
    font-weight: bold;
    color: #555;
}

.maddie-time-data {
    display: flex;
    gap: 1rem;
}

.maddie-status-container {
    display: flex;
    gap: 1rem;
    justify-content: space-between;
    align-items: center;
}

.maddie-tank-img {
    width: 150px;
    height: auto;
}

.maddie-box-info {
    border: 2px solid #0a3c53;
    border-radius: 10px;
    background: #fff;
    position: relative;
}

.maddie-box-info .maddie-edit-icon {
    position: absolute;
    top: 8px;
    right: 8px;
    color: #0a3c53;
    cursor: pointer;
}

.maddie-box-info .maddie-value {
    font-weight: bold;
    color: #003B55;
}

.text-danger {
    font-weight: bold;
}

.maddie-update-btn {
    background: linear-gradient(to bottom, #40728C, #244957);
    color: white;
    border: none;
    padding: 0.5rem 1.2rem;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    font-weight: bold;
}

.maddie-update-btn:hover {
    background: linear-gradient(to bottom, #325d72, #18333f);
}

.maddie-btn-iconimg{
    width: 35px;
    height: 35px;
    padding: 6px;
    border-radius: 50%;
    box-shadow: 0 0 14px 0 #00000070;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.btn-close.maddie-btn-icon{
    background: unset;
    opacity: 1;
}

.maddie-tab-container {
    border: 2px solid #0B3E58;
    border-radius: 16px;
}

.maddie-tab-container::-webkit-scrollbar{
    width: 0;
    height: 0;
}

.maddie-tank-img{
    max-width: 150px;
    max-height: 150px;
}
/* maddie modal css End  */

/* Responsive css start */

@media (max-width: 1650px) {
    .header-m-content {
        overflow-x: auto;
        white-space: nowrap;
    }

    .header-m-logo {
        width: 150px;
        height: 150px;
    }

    .main-content.main-content-home {
        height: calc(100vh - 109px);
    }
}

@media (max-width: 1500px) {
    .header-activity-item img {
        width: 23px;
    }
}

@media (max-width: 1400px) {
    .main-content.main-content-home {
        height: calc(100vh - 106.5px);
    }

    .home-bottom-header-logo {
        height: 180px;
    }

    .home-bottom-header-logoitems {
        width: 360px;
    }
}

@media (max-width:1300px) {
    .menu-list {
        margin-left: 180px;
    }

    .header-title {
        top: 50%;
        left: 60%;
        transform: translate(-60%, -50%);
    }

    .header-m-content {
        margin-left: 190px;
    }

    .bottom-header-content {
        overflow-x: auto;
        white-space: nowrap;
        padding-inline: 15px;
        justify-content: start !important;
    }
}

@media (max-width: 1200px) {
    .home-bottom-header-logo {
        height: 130px;
    }

    .main-content.main-content-home {
        height: calc(100vh - 102px);
    }

    .home-bottom-header-logoitems {
        width: 280px;
    }

    .home-bottom-header-logo a {
        width: 170px;
    }
}

@media (max-width:1024px) {
    .menu-list {
        position: absolute;
        top: 42px;
        left: -100%;
        background-color: #fff;
        border-radius: 0 10px 10px 0;
        height: 100vh;
        z-index: 2;
        margin-left: 0;
        overflow-y: auto;
        width: 200px;
        display: unset !important;
        padding: 10px;
        transition: all 0.3s ease-in-out;
    }

    .menu-list-open .menu-list {
        left: 0;
        transition: all 0.3s ease-in-out;
    }

    .header {
        padding: 5px 15px;
    }

    .header-hamburger {
        display: block;
    }

    .header-title {
        top: unset;
        left: unset;
        transform: unset;
        position: relative !important;
        width: 100%;
    }

    .header-duty,
    .header-currect-job {
        border-radius: 8px;
        cursor: pointer;
        display: block !important;
    }

    .header-middle-open {
        right: 0;
        display: block;
        transition: all 0.3s ease-in-out;
    }

    .header-m-content,
    .header-m-personal {
        margin-left: 0;
        display: unset !important;
    }

    .header-middle {
        position: absolute !important;
        right: -270px;
        top: 42px;
        background-color: #fff;
        z-index: 2;
        padding: 15px;
        border-radius: 10px 0 0 10px;
        width: 270px;
        height: 100vh;
        overflow-y: auto;
        display: none;
        transition: all 0.3s ease-in-out;
    }

    .header-m-duty {
        display: unset !important;
        margin-right: 0 !important;
    }

    .header-duty-title {
        margin: 0 0 15px !important;
        display: flex;
        align-items: center;
    }

        .header-m-contact h5 {
        text-align: start !important;
    }

    .header-m-contact span {
        width: 50px;
        height: 50px;
        font-size: 30px !important;
        border-radius: 10px;
    }

    .header-m-activity {
        border-left: none;
    }

    .header-duty-title span {
        margin: 0 0 0 5px !important;
    }

    .header-duty-time h5 {
        margin-bottom: 5px;
        font-size: 16px !important;
        justify-content: space-between;
    }

    .header-m-available,
    .header-m-contact {
        border-inline: none;
        padding-inline: 0 !important;
    }

    .header-activity-list {
        flex-wrap: wrap;
        justify-content: space-around;
        margin-top: 15px;
    }

    .header-currect-job {
        white-space: nowrap;
    }

    .bottom-header-body {
        position: absolute;
        right: -270px;
        top: 42px;
        height: 100vh;
        width: 270px;
        border-radius: 10px 0 0 10px;
        padding: 15px;
        overflow-y: auto;
        z-index: 2;
        display: none !important;
        transition: all 0.3s ease-in-out;
        -webkit-transition: all 0.3s ease-in-out;
        -moz-transition: all 0.3s ease-in-out;
        -ms-transition: all 0.3s ease-in-out;
        -o-transition: all 0.3s ease-in-out;
    }

        .bottom-header-content,
    .bottom-header-top {
        display: inline !important;
        padding-inline: 0;
    }

    .bottom-header-top button {
        display: block;
        margin-bottom: 10px;
    }

    .bottom-header-body-open {
        right: 0;
        display: block !important;
        transition: all 0.3s ease-in-out;
    }

    .bottom-header-top button:last-child {
        margin-bottom: 0;
    }

    .bottom-header-title {
        font-size: 20px !important;
        margin-bottom: 17px;
        display: inline-block;
    }

    .bottom-header-bottom {
        display: none !important;
    }

    .contact-sidebar {
        top: 41px;
        height: calc(100% - 73px);
    }

    .main-content {
        height: calc(100dvh - 73px);
    }

        .bottom-header-title br {
        display: none;
    }

    .bottom-header-top {
        padding: 10px !important;
        border-radius: 0;
        margin-bottom: 15px;
    }
}

@media (max-width:992px) {
    .contact-sidebar {
        width: 300px;
    }

        .search-map {
        height: auto;
    }

    .home-bottom-header-logo a {
        width: 80px;
    }

    .search-popup {
        width: 350px;
        left: 50%;
        transform: translateX(-50%);
    }

    .search-input input::placeholder {
        font-size: 16px;
    }

    .home-bottom-header-logo {
        height: 65px;
        background: transparent;
        border: none;
    }
}

@media (max-width:768px) {
    .header {
        padding: 0;
    }

    .menu-list-open .home-bottom-header {
        left: 0;
        transition: all 0.3s ease-in-out;
    }

        .home-bottom-header-logo {
        position: relative !important;
        height: auto;
    }

    .header-social-icon a i {
        color: #000 !important;
    }

    form.account-comany-form {
        width: 100% !important;
    }

    .home-bottom-header-container ul li>a:before {
        display: none;
    }

    .home-bottom-header-container li a {
        display: inherit !important;
    }

    .header-social-icon {
        padding-left: 30px;
        margin-top: 30px;
    }

    .home-bottom-header {
        position: absolute !important;
        top: 68px;
        left: -100%;
        height: 100dvh;
        overflow-y: auto;
        border-radius: 0 10px 10px 0;
        transition: all 0.3s ease-in-out;
    }
}

@media (max-width:576px) {
    .header-title {
        font-size: 16px !important;
    }

    .modal-dialog {
        position: relative;
        width: auto;
        margin: 0.5rem;
        pointer-events: none;
    }
}

@media (max-width:430px) {
    .createaccount-first-check{
        position: relative !important;
    }
}

@media (max-width:400px) {
        .search-popup {
        width: 90%;
    }

    .search-input {
        display: none;
    }

    .nav.nav-tabs {
        margin-bottom: 17px !important;
    }

    .search-input {
        top: unset;
        left: unset;
        transform: unset;
    }

    .search-input-mobile {
        display: block;
    }

    .search-input-mobile {
        display: block;
    }
}

/* Media Query End */